{:src ["src"]
 :deps {org.clojure/core.async {:mvn/version "1.2.603"}
        cheshire               {:mvn/version "5.10.0"}
        aleph                  {:mvn/version "0.4.7-alpha5"}}
 :aliases {:test {:extra-paths ["test/src"]}
           :runner {:extra-deps
                    {lambdaisland/kaocha {:mvn/version "0.0-581"}
                     lambdaisland/kaocha-cloverage {:mvn/version "0.0-41"}
                     lambdaisland/kaocha-junit-xml {:mvn/version "0.0-70"}}
                    :main-opts ["-m" "kaocha.runner"]}
           :kondo {:extra-deps {clj-kondo {:mvn/version "2020.01.27"}}
                   :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test/src"
                               "--config" ".clj-kondo/config.edn"]}
           :jar {:extra-deps {seancorfield/depstar {:mvn/version "0.5.2"}}
                 :main-opts ["-m" "hf.depstar.jar" "target/clj-salt-api.jar"]}
           :outdated {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
                      :main-opts ["-m" "depot.outdated.main"]}
           ;; - these rely on having a pom.xml file and, for deployment, these two
           ;;   environment variables: CLOJARS_USERNAME, CLOJARS_PASSWORD (user-token)
           :install {:extra-deps {deps-deploy {:mvn/version "0.0.9"}}
                     :main-opts ["-m" "deps-deploy.deps-deploy" "install"
                                 "target/clj-salt-api.jar"]}
           :deploy {:extra-deps {deps-deploy {:mvn/version "0.0.9"}}
                    :main-opts ["-m" "deps-deploy.deps-deploy" "deploy"
                                "target/clj-salt-api.jar"]}
           :examples {:extra-paths ["examples"]}}}
